##### PRINTING IN PYTHON USING TRIPPLE QOUTES

In [1]:
print("""There once was a movie star icon
who preffered to sleep with the light on.
They learned how to code 
a device that sure glowed
and lit up the night using Python""")

There once was a movie star icon
who preffered to sleep with the light on.
They learned how to code
a device that sure glowed
and lit up the night using Python

#### COLLECTION OF DATA FROM USERS

In [2]:
firstName = input('enter your name')
firstName = firstName.upper()
lastName = input('enter your last name')
lastName = lastName.upper()
village = input('your village')
village = village.upper()
age = input('age')
country = input('enter your country')
country = country.upper()
print(' my name is  '  + firstName   + lastName  + 
      'i lives in' + village + 'my age is ' + age + 
      'am from ' + country  + ' located in africa i' +
      'want to say a little about my' +
      'past which is my biography i started my career' 
      'at lagos ' + country)

enter your nameaweda
enter your last nameazeez
your villageilorin
age666
enter your countrynigeria
 my name is  AWEDAAZEEZi lives inILORINmy age is 666am from NIGERIA located in africa iwant to say a little about mypast which is my biography i started my careerat lagos NIGERIA

In [3]:
name = input('what is your name? ')
print('my name is '+ name)

what is your name? aweda
my name is aweda

#### CALCULATION OF AREA AND VOLUME OF A TRIANGLE
#### IN DIFFERENT DECIMAL PLACES

In [4]:
height = 5
width = 7
base = 10
#calculate the area
area = height * width
#calculate the volume
volume = height * width * base
#calculate perimeter
perimeter = 2*height + 2*width
cop = area * perimeter - perimeter/area
jar = area/perimeter
print(area)
print(volume)
print(perimeter)
print(cop)
print(jar)

35
350
24
839.3142857142857
1.4583333333333333

In [5]:
area = 0
height = 33
width = 22
area = width * height/2
# d is float
print('the area of what you entered is %.5d'  %area)
# f is decimal
print('the area of what you entered is %.10f'  %area)

print('the area of what you entered is %d'  %area)

# still searching for the meaning of he
print('the area of what you entered is %he'  %area)
print('the area of what you entered is %.he'  %area)

the area of what you entered is 00363
the area of what you entered is 363.0000000000
the area of what you entered is 363
the area of what you entered is 3.630000e+02
the area of what you entered is 4e+02

In [6]:
print('my first number is {0:3d} the second number is {1:3f} and the last number is {2:3d} '.format(33, 41, 55))
#this is examples of multiples numbers

my first number is  33 the second number is 41.000000 and the last number is  55

#### CALCULATOR FOR CALCULATING INTEREST OF A LOAN

In [7]:
L = float(input('enter amount to applied for:$ '))
I = float(input('enter the interest rate here:$ '))
N = float(input('enter number of time to repay your loan: '))
A = L*(I*(1 + I)*N)
B = ((1 + I)*N - 1)
M = A/B
print('the amount as interest is %.d' % M)
print('the amount as interest is %.6d' % M)
print('the amount as interest is %.he' % M)
print('the amount as interest is %.2f' % M)

enter amount to applied for:$ 60000
enter the interest rate here:$ 0.05
enter number of time to repay your loan: 22
the amount as interest is 3135
the amount as interest is 003135
the amount as interest is 3e+03
the amount as interest is 3135.75

#### DATE AND TIME FORMATS

In [8]:
import datetime
print(datetime.date.today())

2019-04-04

In [9]:
import datetime
currentDate = datetime.date.today()
print(currentDate)

2019-04-04

In [10]:
import datetime
currentDate = datetime.date.today()
print(currentDate)
print(currentDate.year)
print(currentDate.month)
print(currentDate.day)

2019-04-04
2019
4
4

In [11]:
import datetime
currentDate = datetime.date.today()
print(currentDate.strftime('%d %b, %Y'))
print(currentDate.strftime('%d %b, %y'))
print(currentDate.strftime('%A %b, %y'))

04 Apr, 2019
04 Apr, 19
Thursday Apr, 19

In [12]:
import datetime
currentDate = datetime.date.today()
print(currentDate.strftime('please attend our event %A, %B %d in the year %Y'))

please attend our event Thursday, April 04 in the year 2019

### calculator for dateofbirth

In [13]:
userInput = input('please enter your date of birth (dd/mm/yy)')
birthday = datetime.datetime.strptime(userInput, '%d/%m/%Y').date()
print(birthday)
days = birthday - currentDate
print(days.days)

please enter your date of birth (dd/mm/yy)12/05/2019
2019-05-12
38